.container-banner {
  background-image: url(/assets/banner.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  max-width: 1280px;
  margin: 10px auto auto auto;
  width: 100%;
  padding: 0 32px;
  border-radius: 10px;

  
}


