.container-footer{
    text-align: center;
    padding: 10px 0;
    gap: 5px;
    background-color: #535C91 ;
}

.container-footer p{
    font-family: Arial, Helvetica, sans-serif;
}

.container-footer span{
    font-weight: bold;
    color: blanchedalmond;
}